*.gem
*.rbc
.bundle
.config
.yardoc
.chef
Gemfile.lock
knife-digital_ocean.gemspec.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
