---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1180'
      Ratelimit-Reset:
      - '1416100824'
    body:
      encoding: UTF-8
      string: '{"account":{"droplet_limit":20,"email":"greg@gregf.org","uuid":"49e2e737d3a7407a042bb7e88f4da8629166f2b9","email_verified":true}}'
  recorded_at: Sun, 16 Nov 2014 00:35:57 GMT
recorded_with: VCR 2.9.3
