---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains/kitchen-digital.org/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1168'
      Ratelimit-Reset:
      - '1416100895'
    body:
      encoding: UTF-8
      string: '{"domain_records":[{"id":3364432,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"weight":null},{"id":3364433,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"weight":null},{"id":3364434,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"weight":null},{"id":3364435,"type":"A","name":"@","data":"192.168.1.1","priority":null,"port":null,"weight":null},{"id":3364507,"type":"A","name":"www","data":"192.168.1.1","priority":null,"port":null,"weight":null}],"links":{},"meta":{"total":5}}'
  recorded_at: Sun, 16 Nov 2014 01:22:40 GMT
recorded_with: VCR 2.9.3
