---
http_interactions:
- request:
    method: post
    uri: https://api.digitalocean.com/v2/domains/kitchen-digital.org/records
    body:
      encoding: UTF-8
      string: '{"type":"A","name":"www","data":"192.168.1.1","priority":null,"port":null,"weight":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1168'
      Ratelimit-Reset:
      - '1416110320'
      Etag:
      - '"4b1f4071506a80f05aefbc7bd95dcda1"'
    body:
      encoding: UTF-8
      string: '{"domain_record":{"id":3365311,"type":"A","name":"www","data":"192.168.1.1","priority":null,"port":null,"weight":null}}'
  recorded_at: Sun, 16 Nov 2014 03:56:18 GMT
recorded_with: VCR 2.9.3
