---
http_interactions:
- request:
    method: post
    uri: https://api.digitalocean.com/v2/domains
    body:
      encoding: UTF-8
      string: '{"name":"kitchen-digital.org","ip_address":"192.168.1.1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1168'
      Ratelimit-Reset:
      - '1416100824'
      Etag:
      - '"994a804e0eb309991d38d7a3985ec0d7"'
    body:
      encoding: UTF-8
      string: '{"domain":{"name":"kitchen-digital.org","ttl":1800,"zone_file":null}}'
  recorded_at: Sun, 16 Nov 2014 00:49:37 GMT
recorded_with: VCR 2.9.3
