---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1167'
      Ratelimit-Reset:
      - '1416100824'
    body:
      encoding: UTF-8
      string: '{"domains":[{"name":"gregf.org","ttl":1800,"zone_file":"$ORIGIN gregf.org.\n$TTL
        1800\ngregf.org. IN SOA ns1.digitalocean.com. hostmaster.gregf.org. 1416010116
        10800 3600 604800 1800\ngregf.org. 1800 IN NS ns1.digitalocean.com.\ngregf.org.
        1800 IN NS ns2.digitalocean.com.\ngregf.org. 1800 IN NS ns3.digitalocean.com.\ngregf.org.
        1800 IN A 162.243.243.162\n"},{"name":"kitchen-digital.org","ttl":1800,"zone_file":"$ORIGIN
        kitchen-digital.org.\n$TTL 1800\nkitchen-digital.org. IN SOA ns1.digitalocean.com.
        hostmaster.kitchen-digital.org. 1416100137 10800 3600 604800 1800\nkitchen-digital.org.
        1800 IN NS ns1.digitalocean.com.\nkitchen-digital.org. 1800 IN NS ns2.digitalocean.com.\nkitchen-digital.org.
        1800 IN NS ns3.digitalocean.com.\nkitchen-digital.org. 1800 IN A 192.168.1.1\nwww.kitchen-digital.org.
        1800 IN A 192.168.1.1\n"}],"links":{},"meta":{"total":2}}'
  recorded_at: Sun, 16 Nov 2014 01:20:39 GMT
recorded_with: VCR 2.9.3
