---
http_interactions:
- request:
    method: post
    uri: https://api.digitalocean.com/v2/droplets/3195306/actions
    body:
      encoding: UTF-8
      string: '{"type":"power_off"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1188'
      Ratelimit-Reset:
      - '1416284457'
      Etag:
      - '"1bc3da4be4525c3ccefeb5adf66857cf"'
    body:
      encoding: UTF-8
      string: '{"action":{"id":37043145,"status":"in-progress","type":"power_off","started_at":"2014-11-18T03:33:42Z","completed_at":null,"resource_id":3195306,"resource_type":"droplet","region":"nyc1"}}'
  recorded_at: Tue, 18 Nov 2014 03:33:42 GMT
recorded_with: VCR 2.9.3
