---
http_interactions:
- request:
    method: post
    uri: https://api.digitalocean.com/v2/droplets/3193966/actions
    body:
      encoding: UTF-8
      string: '{"type":"snapshot","name":"ilikelamp-snapshots"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1141'
      Ratelimit-Reset:
      - '1416276139'
      Etag:
      - '"917cb049c926d723184c06b7c29def72"'
    body:
      encoding: UTF-8
      string: '{"action":{"id":37039109,"status":"in-progress","type":"snapshot","started_at":"2014-11-18T02:05:59Z","completed_at":null,"resource_id":3193966,"resource_type":"droplet","region":"nyc3"}}'
  recorded_at: Tue, 18 Nov 2014 02:05:59 GMT
- request:
    method: get
    uri: https://api.digitalocean.com/v2/droplets/3193966
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1140'
      Ratelimit-Reset:
      - '1416276792'
    body:
      encoding: UTF-8
      string: '{"droplet":{"id":3193966,"name":"ilikelamp.com","memory":512,"vcpus":1,"disk":20,"locked":true,"status":"off","kernel":{"id":952,"name":"Debian
        7.0 x64 vmlinuz-3.2.0-4-amd64 (3.2.54-2)","version":"3.2.0-4-amd64"},"created_at":"2014-11-18T00:29:26Z","features":["virtio"],"backup_ids":[],"snapshot_ids":[8073571],"image":{"id":8073571,"name":"rebuild-snapshot","distribution":"Debian","slug":null,"public":false,"regions":["nyc3","nyc3"],"created_at":"2014-11-18T00:58:36Z","min_disk_size":20},"size_slug":"512mb","networks":{"v4":[{"ip_address":"104.236.29.101","netmask":"255.255.192.0","gateway":"104.236.0.1","type":"public"}],"v6":[]},"region":{"name":"New
        York 3","slug":"nyc3","sizes":["32gb","16gb","2gb","1gb","4gb","8gb","512mb","64gb","48gb"],"features":["virtio","private_networking","backups","ipv6","metadata"],"available":true}}}'
  recorded_at: Tue, 18 Nov 2014 02:06:02 GMT
[...]
- request:
    method: get
    uri: https://api.digitalocean.com/v2/droplets/3193966
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1125'
      Ratelimit-Reset:
      - '1416276792'
    body:
      encoding: UTF-8
      string: '{"droplet":{"id":3193966,"name":"ilikelamp.com","memory":512,"vcpus":1,"disk":20,"locked":false,"status":"active","kernel":{"id":952,"name":"Debian
        7.0 x64 vmlinuz-3.2.0-4-amd64 (3.2.54-2)","version":"3.2.0-4-amd64"},"created_at":"2014-11-18T00:29:26Z","features":["virtio"],"backup_ids":[],"snapshot_ids":[8073571,8075632],"image":{"id":8073571,"name":"rebuild-snapshot","distribution":"Debian","slug":null,"public":false,"regions":["nyc3","nyc3"],"created_at":"2014-11-18T00:58:36Z","min_disk_size":20},"size_slug":"512mb","networks":{"v4":[{"ip_address":"104.236.29.101","netmask":"255.255.192.0","gateway":"104.236.0.1","type":"public"}],"v6":[]},"region":{"name":"New
        York 3","slug":"nyc3","sizes":["32gb","16gb","2gb","1gb","4gb","8gb","512mb","64gb","48gb"],"features":["virtio","private_networking","backups","ipv6","metadata"],"available":true}}}'
  recorded_at: Tue, 18 Nov 2014 02:06:53 GMT
recorded_with: VCR 2.9.3
