---
http_interactions:
- request:
    method: post
    uri: https://api.digitalocean.com/v2/droplets/4829346/actions
    body:
      encoding: UTF-8
      string: '{"type":"power_cycle"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4994'
      Ratelimit-Reset:
      - '1428797844'
      Etag:
      - '"584c42220a5ecaaddd2c2acbbfcc79bf"'
    body:
      encoding: UTF-8
      string: '{"action":{"id":47949379,"status":"in-progress","type":"power_cycle","started_at":"2015-04-11T23:30:14Z","completed_at":null,"resource_id":4829346,"resource_type":"droplet","region":{"name":"New
        York 3","slug":"nyc3","sizes":["512mb","1gb","2gb","4gb","8gb","16gb","32gb","48gb","64gb"],"features":["virtio","private_networking","backups","ipv6","metadata"],"available":true},"region_slug":"nyc3"}}'
  recorded_at: Sat, 11 Apr 2015 23:30:14 GMT
recorded_with: VCR 2.9.3
