---
http_interactions:
- request:
    method: post
    uri: https://api.digitalocean.com/v2/droplets/3195306/actions
    body:
      encoding: UTF-8
      string: '{"type":"resize","size":"1gb"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1189'
      Ratelimit-Reset:
      - '1416284457'
      Etag:
      - '"8d64d10904d087979071faa5d02c2bef"'
    body:
      encoding: UTF-8
      string: '{"action":{"id":37043026,"status":"in-progress","type":"resize","started_at":"2014-11-18T03:30:48Z","completed_at":null,"resource_id":3195306,"resource_type":"droplet","region":"nyc1"}}'
  recorded_at: Tue, 18 Nov 2014 03:30:48 GMT
recorded_with: VCR 2.9.3
