---
http_interactions:
- request:
    method: post
    uri: https://api.digitalocean.com/v2/droplets/3193966/actions
    body:
      encoding: UTF-8
      string: '{"type":"rebuild","image":"8073571"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1197'
      Ratelimit-Reset:
      - '1416284457'
      Etag:
      - '"ea08394e50630400950fc136b07a7c45"'
    body:
      encoding: UTF-8
      string: '{"action":{"id":37042642,"status":"in-progress","type":"rebuild","started_at":"2014-11-18T03:22:25Z","completed_at":null,"resource_id":3193966,"resource_type":"droplet","region":"nyc3"}}'
  recorded_at: Tue, 18 Nov 2014 03:22:25 GMT
recorded_with: VCR 2.9.3
