---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/images?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1170'
      Ratelimit-Reset:
      - '1416100824'
    body:
      encoding: UTF-8
      string: '{"images":[{"id":7992108,"name":"Debian test","distribution":"Debian","slug":null,"public":false,"regions":["nyc3","nyc3"],"created_at":"2014-11-16T00:42:00Z","min_disk_size":20},{"id":7111572,"name":"14.10
        x32","distribution":"Ubuntu","slug":"ubuntu-14-10-x32","public":true,"regions":["nyc1","ams1","sfo1","nyc2","ams2","sgp1","lon1","nyc3","ams3","nyc3"],"created_at":"2014-10-23T14:30:12Z","min_disk_size":20},{"id":6882384,"name":"444.5.0
        (beta)","distribution":"CoreOS","slug":"coreos-beta","public":true,"regions":["sfo1","nyc2","ams2","sgp1","lon1","nyc3","ams3","nyc3"],"created_at":"2014-10-16T17:43:33Z","min_disk_size":20},{"id":6886342,"name":"44[...]
[...]
