---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/regions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1173'
      Ratelimit-Reset:
      - '1416100824'
    body:
      encoding: UTF-8
      string: '{"regions":[{"name":"New York 1","slug":"nyc1","sizes":["32gb","16gb","2gb","1gb","4gb","8gb","512mb","64gb","48gb"],"features":["virtio","backups"],"available":true},{"name":"Amsterdam
        1","slug":"ams1","sizes":["16gb","2gb","1gb","4gb","8gb","512mb"],"features":["virtio","backups"],"available":true},{"name":"San
        Francisco 1","slug":"sfo1","sizes":["32gb","16gb","2gb","1gb","4gb","8gb","512mb","64gb","48gb"],"features":["virtio","backups","metadata"],"available":true},{"name":"New
        York 2","slug":"nyc2","sizes":["32gb","16gb","2gb","1gb","4gb","8gb","512mb","64gb","48gb"],"features":["virtio","private_networking","backups"],"avail[...]
