---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/sizes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer FAKE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1186'
      Ratelimit-Reset:
      - '1415584036'
    body:
      encoding: UTF-8
      string: '{"sizes":[{"slug":"512mb","memory":512,"vcpus":1,"disk":20,"transfer":1.0,"price_monthly":5.0,"price_hourly":0.00744,"regions":["nyc1","sgp1","ams1","ams2","sfo1","nyc2","lon1","nyc3","ams3"]},{"slug":"1gb","memory":1024,"vcpus":1,"disk":30,"transfer":2.0,"price_monthly":10.0,"price_hourly":0.01488,"regions":["nyc2","sgp1","ams1","sfo1","lon1","nyc3","ams3","ams2","nyc1"]},{"slug":"2gb","memory":2048,"vcpus":2,"disk":40,"transfer":3.0,"price_monthly":20.0,"price_hourly":0.02976,"regions":["nyc2","sfo1","ams1","sgp1","ams2","lon1","nyc3","ams3","nyc1"]},{"slug":"4gb","memory":4096,"vcpus":2,"disk":60,"transfer":4.0,"pric[...]
